<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Patient App"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCA_PatientApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAppointments"
            android:exported="false" />
        <activity
            android:name=".BookAppointment"
            android:exported="false" />
        <activity
            android:name=".GovtScheme"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails"
            android:exported="false" />
        <activity
            android:name=".SearchResult"
            android:exported="false" />
        <activity
            android:name=".SearchDoctor"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SpalshScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>